/* p{
    background-color: aqua;
} */
/* rgb */
/* p{
    background-color: rgb(red, green, blue);
    background-color: rgb(255,0,0);
    background-color: rgb(0,255,0);
    background-color: rgb(0,0,255);
    background-color: rgb(255,255,0);
    background-color: rgb(255,0,255);
    background-color: rgb(0,255,255);
} */
/* rgba */
/* p{
    background-color: rgb(255,0,0,0.5);
} */
/* hex */
p{
    background-color: #0f0;
    background-color: #0ff;
    background-color: #ff0;
    background-color: #0f0;
    background-color: #0f0;
}
/* hsl,hsla */
p{
    background-color: hsl(hue, saturation, lightness);
    background-color: hsl(0,30%,50%);
    background-color: hsl(hue, saturation, lightness);
    background-color: hsl(120,20%,30%,0.7);
}