/* 
    background-color: darkmagenta;
    coh1{
    background-color: green ;
    color: black ;
}
#selector{
    background-color: blueviolet;
    color: cadetblue;
}
.className{
    background-color: chartreuse;
    color: white;
}
.pav{
    background-color: aqua;
    color: white;
}
#ani{
    background-color: blue;
    color: azure;
}
h1{
    background-color: chartreuse;
    color: crimson;
} */
h1, .pav, #ani {
    color: black;
}
/* // grouping selector */
* {
    background-color: chartreuse;
    color: white;
} // universal selector