ul li:first-child{
    color: aqua;

}
ul li:last-child{
    color: blue;
}
ul li:nth-child(even){    
    color: blue;
}
ul li:nth-child(4){
    color: brown;
}
ul li:nth-last-child(3){
    color: hotpink;
}
input:first-of-type{
    background-color: pink;
}
input:last-of-type{
    background-color: blueviolet;
}
input:nth-of-type(even){
    background-color: aqua;
}
input:nth-of-type(odd){
    background-color: blueviolet;
}
input:nth-last-of-type(1) {
    background-color: chartreuse;
}