
p{
    text-indent: 100px;
    letter-spacing: 20px;
    word-spacing: 50px;
    line-height: 30px;   <!--doesn't allow negative--> 
    white-space: nowrap;  gives in single line
}
h1{
    text-shadow: 10px 10px pink;
    text-shadow: -10px -10px pink;  
    text-shadow: 0px 10px pink;
    text-shadow: 10px 0px pink;
    text-shadow: 0px 0px 5px pink;
    text-shadow: 10px 10px 3px pink;
}