/* .container{
    height: 100vh;
    width: 100vw;
    background-color: blue;
} */





.bg-image{
    background-image: url("https://th.bing.com/th/id/OIP.kYlnZ9IIHpWNT_mDE3awvwHaEo?w=295&h=184&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    height: 500px;
    width: 100%;
    background-size: cover;
}
.nav-bar{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar > h2 {
    margin-right: 400px;
    color: white;
}
.nav-bar > p{
    margin-right: 50px;
    font-size: 17px;
    color: white;
}
button{
    height: 30px;
    width: 150px;
    border-radius: 10px;
    background-color: brown;
    color: white;
    border: none;
}
.explore{
    text-align: left;
    margin-left: 120px;
    margin-top: 95px;
    height: 100px;
    width: 500px;
}
.explore > p:first-child{
    /* margin-bottom: 20px; */
    display: inline;
}
h1{
    font-size: 45px;
}
p{
    font-size: 20px;
}
.heading{
    text-align: center;
    margin-top: 30px;
}
.heading > h1{
    display: inline;
    font-size: 30px;
}
.heading >p{
    display: inline;
}

.image1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.image2{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.card1{
    height: 300px;
    width: 300px;
    text-align: center;
    
    /* text-align: center; */
}
.card1 p{
    font-size: 17px;
    text-align: center;
    /* padding: 25px; */
    /* display: inline; */
}

.card1 > button{
    background-color: white;
    border: solid 1px black;
    border-radius: 15px;
    font-weight: 550;
    font-size: 15px;
    padding: 5px;
    color: black;
    height: 40px;
    width: 150px;
}