/* div{
    height: 400px;
    width: 300px;
    border: 1px solid;
} */

div{
    height: 400px;
    width: 300px;
    margin: 40px auto;
    border: 1px solid;
    text-align: justify;
    border-image-source: url(https://th.bing.com/th/id/OIP.iRTihX3uFQbYzg22X3ASWAHaJ-?rs=1&pid=ImgDetMain);
    border-image-slice: 40 ;
    border-image-width: 20px;
    border-image-outset: 20px;
    /* border-image-repeat: round; */  /* space,round,stretch,repeat */

}