section{
    height: 700px;
    width: 600px;
    display: flex; /*display horizontally by default*/
    border: 2px solid;
    /* flex-wrap: wrap; */ /* it takes actual width and align according to the dimensions of height and width */
    /* flex-direction: column; */
}

div{
    height: 200px;
    width: 200px;
}

.div1{
    background-color: aqua;
}
.div2{
    background-color: red;
    flex-shrink: 2; /* when the parent width is lesser */
}
.div3{
    background-color: green;
}
.div4{
    background-color: pink;
}
.div5{
    background-color: yellow;
}
.div6{
    background-color: blue;
    flex-grow: 2; /* when the parent width is larger */
}