section{
    height: 600px;
    width: 600px;
    border: 1px solid;
    display:grid;
    gap: 15px 15px;
    padding: 10px;
}

/* div{
    height: 100px;
    width: 100px;
} */
.div1{
    /* height: 450px; /*it will go out of bound */
    /* width: 450px; */ 
    
    /* grid-area: 1/1/2/3; row start-column start-row end -column end */
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
} */
  background-color: aqua ;
 grid-column: 1/3;

}
.div2{
    /* height: 450px;
    width: 450px; */
    background-color: blue;
     /* grid-area: 2/2/3/3; */
     /* grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; */
    grid-column: 3/4;
} 

.div3{
    background-color: blueviolet;
     grid-area: 2/1/4/2;
     /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; */
   
}
.div4{
    background-color: red;
     grid-area: 2/2/3/3;
     /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; */
}
.div5{
    background-color: rgb(170, 255, 0);
     grid-area: 2/3/3/4;
     /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; */
} 
.div6{
    background-color: rgb(255, 0, 247);
     grid-area: 3/2/4/4;
     /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; */
}