/* div {
    height: 50px;
    width: 100%;
    background-color: aqua;
    position: sticky;
    top: 0px;
    bottom: 0px;
} */
p{
    font-size: xx-large;
}

.div1{
    height: 50px;
    width: 100px;
    background-color: red;
    position: fixed;
    border-radius: 100px;
    right: 0px;
    bottom: 0px;
}