section{
    height: 100px;
    width: 100px;
    background-color: blue;
    /* position: static; // no change for top,bottom,left,right */
    margin-left: 200px;
}

.parent{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    /* position: relative; */
}
.div1{
    height: 200px;
    width: 200px;
    background-color: green;
    position: relative;     /* realtive */
    bottom: 100px; overlap
    left: 100px;
    /* /* right: 100px; */
    top: 100px;
    bottom: 100px;
}

.div2{
    height: 200px;
    width: 200px;
    background-color: aqua;
    position: absolute;     /*absolute */
    top: 20px;
    right: 200px;
}

div{
    height: 200px;
    width: 200px;
    background-color: aqua;
}