body{
    display: flex;
    justify-content: center;
    background-color: burlywood;
}
section{
    height: 500px;
    width: 300px;
    text-align: center;
    border: 2px solid ;
    /* display: flex;
    justify-content: center; */
    background-image: linear-gradient(skyblue,blueviolet);
    /* background-color: rgb(165, 113, 213); */
    margin-top: 60px;
}

.calculator{
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 7px;
    margin: 4px;
    text-decoration: underline;
    /* background-color: aqua; */
}

.display{
    height: 80px;
    width: 250px;
    background-color: rgb(78, 72, 72);
    border-radius: 10px;
    margin: 7px;
    margin-bottom: 20px;  
}
input{
    font-size: 30px;
    color: white;
    padding: 10px;
}

.row1{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    /* background-color: bisque; */
}
.btn1{
    height: 40px;
    width: 40px;
    /* text-align: center; */
    background-color: pink;
    color: white;
    /* font-family: ans-serif; */
    font-weight: 600;
    font-size: 30px;
    padding: 5px;
    border-radius: 6px;
    text-shadow: 0ex;
    /* box-shadow: gray; */
    
}
.btn2{
    height: 40px;
    width: 40px;
    /* text-align: center; */
    background-color: pink;
    color: white;
    padding: 5px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 30px;
    
}
.btn3{
    height: 40px;
    width: 40px;
    /* text-align: center; */
    background-color: pink;
    color: white;
    padding: 5px;
    border-radius: 6px;
  font-weight: 600;
    font-size: 30px;
    
}
.btn4{
    height: 40px;
    width: 40px;
    /* text-align: center; */
    background-color: pink;
    color: white;
    padding: 5px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 30px;
    
}
