/* .img1{
    height: 200px;
    width: 200px;
    border: 2px solid blue;
    box-shadow: 0px 0px 2px 7px blue;
    position: absolute;
    top: 180px;
    left: 500px;
}
.img2{
    height: 200px;
    width: 200px;
    border: 2px solid blue;
    box-shadow: 0px 0px 2px 7px blue;
    position: absolute;
    top: 180px;
    right: 800px;
}

.img3{
    height: 200px;
    width: 200px;
    border: 2px solid blue;
    box-shadow: 0px 0px 2px 7px blue;
    position: absolute;
    top: 180px;
    left: 800px;
}

.img4{
    height: 200px;
    width: 200px;
    border: 2px solid blue;
    box-shadow: 0px 0px 2px 7px blue;
    position: absolute;
    top: 500px;
    left: 500px;
}
.img5{
    height: 100px;
    width: 200px;
    border: 2px solid blue;
    box-shadow: 0px 0px 2px 7px blue;
    position: absolute;
    bottom: 450px;
    left: 500px;
}
.img6{
    height: 100px;
    width: 200px;
    border: 2px solid blue;
    box-shadow: 0px 0px 2px 7px blue;
    position: absolute;
    top: 20px;
    left: 800px;
}
.img7{
    height: 200px;
    width: 200px;
    border: 2px solid blue;
    box-shadow: 0px 0px 2px 7px blue;
    position: absolute;
    top: 100px;
    right: 700px;
}
.img8{
    height: 200px;
    width: 200px;
    border: 2px solid blue;
    box-shadow: 0px 0px 2px 7px blue;
    position: absolute;
    bottom: 200px;
    left: 9px;
}
.img9{
    height: 200px;
    width: 200px;
    border: 2px solid blue;
    box-shadow: 0px 0px 2px 7px blue;
    position: absolute;
    top: 100px;
    right: 900px;
} */

img{
        height: 200px;
        width: 200px; 
        border: inset 10px ;
        box-shadow:  0px 0px 40px  yellow;  
       
    }

.img1{
    position: absolute;
    left: 550px;
    right: 500px;
    top: 200px;
}
.img2{
    position: absolute;
    left: 300px;
    top: 350px;
    height: auto;
    width: 200px;
}
.img3 {
    position: absolute;
left: 300px;
top: 100px;
height: auto;
width: 200px;
}
.img4{
    height: 100px;
    width: 180px;
    position: absolute;
    left: 550px;
    top: 50px;
}
.img5{
    height: 100px;
    width: 180px;
    position: absolute;
    left: 550px;
    top: 430px;
}
.img6{
    position: absolute;
    left :780px;
    top: 100px;
    height: auto;
    width: 200px;
}
.img7{
    height: auto;
    width: 200px;
    position: absolute;
    left :780px;
    top: 350px;
}
.img8{
    width: 250px;
    height: auto;
    position: absolute;
    left: 1000px;
    top: 250px;
}
.img9{
    width: 250px;
    height: auto;
    position: absolute;
    top: 220px;

}