.div1{
    height: 500px;
    width: 500px;
    border-radius: 100%;
    background-color: yellow;
    
}

.eyes{
   display: flex;
   margin: 100px;
   justify-content: space-between;
   
}

.div2{
    height: 130px;
    width: 130px;
    margin-top: 70px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    animation: rotation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */

    /* align-items: center; */
}

#eye1{
    height: 50px;
    width: 50px;
    
    background-color: white;
    border-radius: 100%;
}
.div3{
    height: 130px;
    width: 130px;
     margin-top: 70px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
   animation: rotation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}

#eye2{
    height: 50px;
    width: 50px;
    
    background-color: white;
    border-radius: 100%;
}

.div4{
    border-radius: 50px 50px 450px 450px;
    margin-left: 100px;
    /* margin-bottom: 100px; */
    height: 140px;
    width: 300px;
    background-color: red;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.tgn {
    height: 0px;
    width: 260px;
    text-align: center;
    margin-left: 20px;
    border: 1px solid beige;
    position: absolute;
    /* bottom: 160px; */
}
.tgn:hover{
        /* display: flex;
        justify-content: right;
        align-items: center; */
        margin-left: 60px;
        /* margin: 100 auto; */
        height: 260px;
        width: 30%;
        border-radius: 0px 0px 555px 555px;
        background-color: aqua;
}
