body{
    background-color: blue;
}
.container{
    height: 300px;
    width: 350px;
    margin: auto;
    margin-top: 150px;
    background-color: white;
}


.heading{
    color: black;
    text-align: center;
    padding-top: 10px;
}

.mail{
    border: none;
    border-bottom: 2px solid blue;
    padding-bottom: 15px;
    background-color: white;
    /* border-color: blue; */
    margin: 8px;
}

.Password{
    border: none;
    border-bottom: 2px solid blue;
    padding: 10px;
    background-color: white;
    border-color: blue;
    margin: 8px;
}

.forget{
    border: none;
    /* border-bottom: 2px; */
    padding: 12px;
    background-color: white;
}

.btn{
    width: 250px;
    text-align: center;
    padding: 7px;
    margin-left: 30px;
    border-radius: 10px;
    color: white;
    background-color: blue;

   
}
.para {
    text-align: center;
    text-decoration-line: none;
}

a{
    text-decoration: none;
}