div{
    height: 300px;
    width: 300px;
    background-image: repeating-conic-gradient(rgb(252, 9, 9) 0deg 5deg,rgba(25, 23, 23, 0.856)  5deg 10deg);
    transition-property: all;
    transition-duration: 3s ;
    transition-delay: 2s;
    transition-timing-function: steps(5); /*linear,ease,ease-in,ease-out,ease-in-out */

    /*transition-property, duration, timing-function-linear by default, delay */
    transition: all 5s linear 1s; /*(shorthand-property)*/
}


div:hover{
    height: 400px;
    width: 400px;
    border-radius: 100%;
    background-image: repeating-conic-gradient( rgb(40, 40, 243) 0deg 7deg ,rgb(249, 21, 21) 7deg 14deg);
}
