div{
    height: 200px;
    width: 200px;
    
}
.div1{
    background-color: blueviolet;
    position: absolute;
    left: 150px;
}

.div2{
    background-color: red;
    position: absolute;
    /* z-index: 1px; */
    z-index: 1;
    left: 90px;
}
.div3{
    background-color: blue;
    position: absolute;
    z-index: 2;
    
}
.div4{
    background-color: green;
    position: absolute;
    left: 120px;
}
.div5{
    background-color: rgb(43, 89, 226);
}